﻿body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    color: #444;
    background-color: #F7F7F7;
}

h1 {
    font-size: 48px;
    font-style: italic;
}

nav {
    width: 200px;
    float: left;
}

#news {
    width: 200px;
    float: right;
}

#content {
    width: 600px;
    margin: 0 auto;
}

nav a {
    display: block;
    background-color: #BADA55;
    /* eine weitere Möglichkeit die einzelnen Links des nav-Elementes untereinander darzustellen wäre, sie in
    jeweils einzelne <div> Elemente zu verpacken - somit werden sie vom Text-Element zum Blockelement und
    somit automatisch untereinander angeordnet; selbíges Vorgehen wäre auch mit dem <p> Element denkbar */
    text-decoration: none;
    color: white;
    height: 30px;
    border-bottom: red dotted 1px;
    border-top: red dotted 1px;
    padding: 10px 0 0 20px;
    /* Achtung: Das Padding, sowie die Border eines Elementes werden von CSS3 nicht automatisch verrechnet. Wenn die Höhe
    des Elementes also eine bestimmte Pixelzahl betragen soll, muss das Padding von der Höhe abgezogen werden.*/
}

nav a:hover {
    background-color: #CC4;
    color: #444444;
    text-decoration: underline;
}

#news {
    border: 1px #bada55 solid;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #888888;
}
#news ul {
    list-style: none;
}

.red, #news ul li time {
    font-weight: bold;
    color: red;
}

#content div ol {
    list-style: none;
    float: left;
    padding-left: 0;
        /*Diese Einstellung war notwendig, da der Browser (hier Firefox) die Liste standardmäßig
        einrücken wollte, was aber nicht gewünscht ist!*/
}

#content li {
    color: white;
    display: block;
    float: inherit;
    height: 140px;
    width: 140px;
    /* Verkleinerung der Höhe und der Breite, weil das Padding an jedem Rand nochmal 10px "draufschlägt" */
    background-color: #bada55;
    font-size: 18px;
    font-weight: bold;
    padding:  10px 10px 10px 10px;
    margin-right: 20px;
    position: relative;
}

#content li div+div {
    background-color: red;
    height: 30px;
    width: 150px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding-left: 10px
}

h1 + div {
    font-weight: bold;
    padding-bottom: 60px;
}

body {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/4/4f/Dropshadow_1px.png);
    background-repeat: repeat-x;
}

#content {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b6/Tomato-Torrent-Icon.png);
    background-position: top right;
    background-repeat: no-repeat;
}

